# MongoDB connection string - get this from MongoDB Atlas
# 1. Go to mongodb.com/atlas and create free account
# 2. Create a cluster
# 3. Click "Connect" > "Connect your application"
# 4. Copy the connection string and replace <password> with your password

MONGODB_URI=mongodb+srv://mhhan_db_user:abcd@fromthesource.idrfeoz.mongodb.net/fromthesource?retryWrites=true&w=majority

PORT=5000

