MONGODB_URI=mongodb+srv://mhhan_db_user:abcd@fromthesource.idrfeoz.mongodb.net/fromthesource?retryWrites=true&w=majority

PORT=5001

GOOGLE_CLIENT_ID=21919360500-851itvmeu0jn4010j0p68bt71m7a1ivc.apps.googleusercontent.com
